@page
@model Nw.Web.Pages.OrdersModel
@{
    ViewData["Title"] = "Orders";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Ordrer</h1>
<table id="orderTable">
    <tr>
        <th>Ordre ID</th>
        <th>Kunde ID</th>
        <th>Medarbejder ID</th>
        <th>Bestillings&shy;dato</th>
        <th>Påkrævet modtagelsesdato</th>
        <th>Send via</th>
        <th>Fragt</th>
        <th>Modtagers navn</th>
        <th>Modtagers by</th>
        <th>Modtagers region</th>
        <th>Modtagers postnummer</th>
        <th>Modtagers land</th>
    </tr>
    @{
        foreach (var order in Model.Orders)
        {
    <tr>
        <td>@order.OrderId</td>
        <td>@order.CustomerId</td>
        <td>@order.EmployeeId</td>
        <td>@order.OrderDate</td>
        <td>@order.RequiredDate</td>
        <td>@order.ShipVia</td>
        <td>@order.Freight</td>
        <td>@order.ShipName</td>
        <td>@order.ShipCity</td>
        <td>@order.ShipRegion</td>
        <td>@order.ShipPostalCode</td>
        <td>@order.ShipCountry</td>
    </tr>
        }
    }
</table>